nodes:
  hosts:
    worker_1:
      ansible_host: '<IP OR HOSTNAME>'
      ansible_ssh_user: '<SSH_USERNAME>'
      ansible_ssh_pass: '<SSH_PASSWORD>'
      ansible_become_password: '<ROOT_PASSWORD>'
      clusterIP: '<IP_OF_TARGET_CLUSTER_ORCHESTRATOR>'
      nodeIP: '<IP_OF_THIS_MACHINE_REACHABLE_FROM_OTHER_WORKERS>'
      additionalNodeEngineParams: ''
      additionalNetManagerParams: '' #E.g. additionalNetManagerParams: '-D=true' to enable net maanger debug mode 
    worker_2:
      ansible_host: '<IP OR HOSTNAME>'
      ansible_ssh_user: '<SSH_USERNAME>'
      ansible_ssh_pass: '<SSH_PASSWORD>'
      ansible_become_password: '<ROOT_PASSWORD>'
      clusterIP: '<IP_OF_TARGET_CLUSTER_ORCHESTRATOR>'
      nodeIP: '<IP_OF_THIS_MACHINE_REACHABLE_FROM_OTHER_WORKERS>'
      additionalNodeEngineParams: ''
      additionalNetManagerParams: ''
    # ...
    worker_100:
      ansible_host: '<IP OR HOSTNAME>'
      ansible_ssh_user: '<SSH_USERNAME>'
      ansible_ssh_pass: '<SSH_PASSWORD>'
      ansible_become_password: '<ROOT_PASSWORD>'
      clusterIP: '<IP_OF_TARGET_CLUSTER_ORCHESTRATOR>'
      nodeIP: '<IP_OF_THIS_MACHINE_REACHABLE_FROM_OTHER_WORKERS>'
      additionalNodeEngineParams: ''
      additionalNetManagerParams: ''
    # ...
