- hosts: one_doc
  roles:
    - ensure-oakestra-repo-is-cloned
  tasks:
    # Note: I tried replacing this shell command (anti-pattern) with a dedicated ansible module (community.docker.docker_compose).
    # However, it seems to face huge issues currently and it did not work for me. https://github.com/docker/docker-py/issues/3194
    - name: Run Root and Cluster Components in 1-DOC mode 
      environment:
        CLUSTER_NAME: '{{ clusterName }}'
        CLUSTER_LOCATION: '{{ clusterLocation }}'
        SYSTEM_MANAGER_URL: '{{ rootIP }}'  
      shell: "cd {{ repo_path }} && docker compose -f run-a-cluster/1-DOC.yaml -f run-a-cluster/override-alpha-versions.yaml up --detach"
      become: True
